body{
    margin: 0;
    padding: 0;
    background-color:#57ddff;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 54px;
}

#content h1{   
    text-align: center;
    font-size: 45px;
}

#content p{   
    text-align: center;
    font-size: 25px;
}

#content pre{   
    font-size: 20px;
    background-color: black;
    color: white;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#info_fetch{
    display: block;
    margin-left: auto;
    margin-right: auto;    
    height: 50px;
    font-size: 20px;
}

a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    color: black;
    border: dotted black;  
    width: 150px;
    height: 20px;
    padding: 10px;
    font-size: 20px;
}